@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* 
.special-gothic-condensed-one-regular {
  font-family: "Special Gothic Condensed One", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

.noto-sans-syriac {
  font-family: "Noto Sans Syriac", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
 font-family: "Noto Sans Syriac", sans-serif;
}